*{
    margin: 0;
    padding: 0;
    outline: 0;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type:none;
}
img{
    vertical-align: middle;
}

body{
    font-family: 'Lato', sans-serif;
}
#banner_area{
    background: url(../images/header-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.heaer_wrp_1{
    width: 40%;
    float: left;
    margin-left: 10%;
    padding-top: 100px;
}
.heaer_wrp_1 h3{
    font-size: 24px;
    color:#222;
    font-weight: 700;
    text-transform: capitalize;
    padding-bottom: 20px;
}
.heaer_wrp_1 h1{
    font-size: 50px;
    color:rgb(247, 8, 119);
    font-weight: 700;
    text-transform: capitalize;
    padding-bottom: 50px;
}
.heaer_wrp_1 p{
    color: rgb(80, 77, 77);
    font-size: 18px;
    padding-bottom: 50px;
}
.btn_wrap{
    padding: 15px 30px;
    background-image: linear-gradient(45deg,rgb(247, 8, 175),rgb(247, 8, 119));
    border-radius: 10px;
    color: #ffffff;
}
.heaer_wrp_2{
    width: 40%;
    float: left;
}
.heaer_wrp_2 img{
    width: 100%;
}

#biography_area{
    background: url(../images/biography-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 620px;
    margin-top: 100px;
    padding-top: 100px;
}
.biogra_wrp_1{
    width: 40%;
    float: left;
    margin-left: 5%;
}
.biogra_wrp_1 img{
    width:100%;
}
.biogra_wrp_1.bigo_wrp_3 {
    margin-top: 120px;
}
.biogra_wrp_1.bigo_wrp_3 h2{
    font-size: 28px;
    text-transform: capitalize;
    font-weight: 400;
    color: #222;
    padding-bottom: 30px;
}
.biogra_wrp_1.bigo_wrp_3 p{
    color: rgb(80, 77, 77);
    font-size: 18px;
    margin-bottom: 50px;
}
#latest_work{
    background: url(../images/latest-work-bg.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    margin-top: 100px;
}
#latest_work h3{
    text-align: center;
    font-size: 34px;
    color: #222;
    text-transform: capitalize;
    padding-bottom:60px;
}
.latest_news_main{
    width: 80%;
    margin: 0 auto;
}
.lates_news_item{
    width: 30%;
    float: left;
    margin-right: 3%;
}
.ml{
    margin-right: 0;
}
.lates_news_item img{
    width: 100%;
}
#client_area{
    background: url(../images/footer-bg.png);
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
}
.client_area_start{
    text-align:center;
}
.client_area_start h2{
    font-size: 50px;
    color: #222;
    text-transform:capitalize;
    padding-bottom: 100px;
}
.client_area_weap_1 h5{
    font-size: 30px;
    color:#222;
    text-transform:capitalize;
    padding-bottom: 5px;
}
.client_area_weap_1 h6{
    font-size:18px;
    color: rgb(92, 88, 88);
    text-transform:capitalize;
    padding-bottom: 50px;
}
.client_wrp_2 p{
    font-size: 18px;
    color: #222222;
    padding: 0 300px;
}
.clent_wrp_link{
    background-image: linear-gradient(rgb(230, 34, 187), rgb(233, 31, 155));
    width: 625px;
    margin: 0 auto;
    margin-top: 70px;
    border-radius: 10px;
}
.clent_wrp_link h5{
    font-size: 14px;
    padding-bottom: 30px;
    color: rgba(255, 255, 255, 0.877);
    padding-top: 30px;
    padding-bottom: 30px;
}
.clent_wrp_link h2{
    font-size: 34px;
    padding-bottom: 60px; 
    margin-bottom: 180px;
}
.clent_wrp_link h2 a{
    color: #ffffff;
}
footer p{
    color:rgb(124, 121, 121);
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    padding-bottom: 15px;
    text-transform: capitalize;
}